<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasmine.mapper.DishMapper">
  <resultMap id="BaseResultMap" type="com.jasmine.pojo.Dish">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dish_name" jdbcType="VARCHAR" property="dishName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="cook_time" jdbcType="TINYINT" property="cookTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.jasmine.pojo.Dish" useGeneratedKeys="true" keyProperty="id">
    insert into tb_menu (id, dish_name, description, 
      price, picture, cook_time, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{dishName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{picture,jdbcType=VARCHAR}, #{cookTime,jdbcType=TINYINT}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jasmine.pojo.Dish">
    update tb_menu
    <set>
      <if test="dishName != null">dish_name = #{dishName,jdbcType=VARCHAR},</if>
      <if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
      <if test="price != null">price = #{price,jdbcType=DOUBLE},</if>
      <if test="picture != null">picture = #{picture,jdbcType=VARCHAR},</if>
      <if test="cookTime != null">cook_time = #{cookTime,jdbcType=TINYINT},</if>
      <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      update_time = NOW() <!-- Always set update_time to the current timestamp -->
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, dish_name, description, price, picture, cook_time, status, create_time, 
    update_time
    from tb_menu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, dish_name, description, price, picture, cook_time, status, create_time, 
    update_time
    from tb_menu
  </select>
</mapper>