<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasmine.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.jasmine.pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_order
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.jasmine.pojo.Order">
    insert into tb_order (id, user_id, dish_id, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{dishId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jasmine.pojo.Order">
    UPDATE tb_order
    <set>
      <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
      <if test="dishId != null">dish_id = #{dishId,jdbcType=INTEGER},</if>
      <if test="status != null">status = #{status,jdbcType=INTEGER},</if>
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      update_time = NOW() <!-- Always set update_time to the current timestamp -->
    </set>
    WHERE id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, dish_id, status, create_time, update_time
    from tb_order
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, dish_id, status, create_time, update_time
    from tb_order
  </select>
</mapper>